<div><%= link_to "Repository", repositories_path %> <%= @repository.name %></div>

<div>
  <% form_tag repository_commits_path(@repository), :method => :get do -%>

    <div class="filter-row">
      <label for="">Branch</label>
      <select name="reference" id="reference">
        <%= options_from_collection_for_select(@repository.heads, :name, :name, params[:reference]) %>
      </select> 

      <label for="">Exclude</label>
      <% 2.times do |i| -%>
        <select name="exclude[]" id="exclude_<%= i %>">
          <option value=""></option>
          <%= options_from_collection_for_select(@repository.heads, :name, :name, Array(params[:exclude])[i]) %>
        </select> 
      <% end -%>

      <label for="">Include</label>
      <% 2.times do |i| -%>
        <select name="include[]" id="include_<%= i %>">
          <option value=""></option>
          <%= options_from_collection_for_select(@repository.heads, :name, :name, Array(params[:include])[i]) %>
        </select> 
      <% end -%>
      
    </div>

    <div class="filter-row">
      <%= check_box_tag(:no_merges, '1', params[:no_merges]) %><label for="no_merges">No merges</label>
      
      <%= check_box_tag(:get_ticket_status, '1', params[:get_ticket_status]) %><label for="no_merges">Get ticket status</label>

      <label for="">Group by:</label>
      <select name="group_by" id="group_by">
        <option value=""></option>
        <%= options_for_select CommitsController::ALLOWED_GROUPPING, params[:group_by] -%>
      </select>

      <%= submit_tag("Show", :class => 'big-button') %>
    </div>

  <% end -%>
</div>

